{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set layoutTitle = 'PrestaShop training' %}

{% block content %}
  <div class="row">
    <div class="col">
      {{ ps_training() }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': productGrid} %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/pstraining/public/build/admin/product/index.js') }}"></script>
{% endblock %}
